AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
AUTH_SECRET=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./prisma/black-dash.db"

PASSWORD_SALTROUND=10
DEFAULT_PASSWORD=black-dash-password
DEFAULT_ADMIN=black-dash

# For deployment purposes (edit according to your infrastructure)
#AUTH_URL=http://localhost:3000
#AUTH_TRUST_HOST=http://localhost:3000
#ORIGIN=http://localhost:3000